In [186]:
import pandas as pd  
from string import ascii_uppercase as alphabet
import pickle

In [187]:
fifa_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [188]:
fifa_tables[12]
fifa_tables[19]
fifa_tables[26]
fifa_tables[61]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Portugal    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2        Ghana    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Uruguay    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

In [189]:
dict_table = {}

for letter, f in zip(alphabet, range (12, 68, 7)):#This allocates alphabets to the numbers that represents different tables
    print (letter, f)
    df = fifa_tables[f]
    df.rename(columns={df.columns[1]: 'Squad'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [190]:
dict_table['Group B']

   Pos          Squad  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0

In [191]:
with open('FIFA_tables_dict', 'wb') as output:
    pickle.dump(dict_table, output)